<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mladen.xwsclient">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".dagger.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.AllArticles"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.Article1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.Article2IT"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.Article3Foto"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.Article4TV"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.Article7DO"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityVesMasina"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityVMasina1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.Article5KUA"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.Article6TR"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityVMasina2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityVMasina3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityVMasina4"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityFrizider"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityFrizider1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityFrizider2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityFrizider3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivitySporet"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivitySporet1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivitySporet2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivitySporet3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityZamrzivac"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityZamrzivac1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityZamrzivac2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article1.ActivityZamrzivac3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityLaptop1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityLaptop2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityLaptop3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityLaptop"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityMobilni"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityMobilni1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityMobilni2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityMobilni3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityMobilni4"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityTablet"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityTablet1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article2_it.ActivityTablet2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.ActivityKamere"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.Kamera1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.Kamera2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.Kamera3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.ActivityFotoaparati"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.Fotoaparat1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.Fotoaparat2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article3_foto.Fotoaparat3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.ActivityTV"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.TV1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.TV2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.TV3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.ActivityDO"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.DO1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.DO2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article4_tv.DO3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.ActivityUS"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.US1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.US2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.Pegla1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.ActivityPG"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.Pegla2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.ActivityLAM"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.Lampa1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article5_kua.Lampa2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.ActivityGR"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.Grejalica1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.Grejalica2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.Grejalica3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.ActivityKL"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.Klima1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.Klima2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article6_tr.Klima3"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.ActivitySL"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.Slusalice1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.Slusalice2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.ActivityUSB"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.USB1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.USB2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.ActivityRS"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.Sat1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.Sat2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.ActivityST"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.Stampac1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.article7_do.Stampac2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.HomeScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.SpisakOdabranihProizvoda"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.UplatnicaActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.DobaviIzvod"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>